body{
/* Asignando una famila de fuentes para nuestro texto*/
font-family: 'Montserrat', sans-serif;
/*Asignando el color de nuestro texto*/
color:black;
/*Asignando el tamaño de letra con REM que es el elemento raiz*/
font-size: 1.2rem;
/*Internileado entre las palabras*/
line-height: 1.6em;
margin: 0;
}

h1{
    font-size: 2rem;/*valor relativo a la raiz*/
    line-height: 1.3em;/*valor de acuerdo al tamaño x default*/
}

p{
    margin-bottom: 1.3rem;
}

.container{
    /*Ancho del elemento con el navegador*/

    width: 85%;/*Se extiende 85% del naveghador*/
    max-width: 850px;/*El ancho maximo de pixeles*/
    
    margin: 0 auto;/*Margen de los elementos de 0 arriba y abajo y automaticamente a los lados*/
}

.header{
    background: #456268;
    color: white;
    padding: 1rem 0;/*agregando relleno*/

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

    .header a{
        color: white;
        text-decoration: none;/* quita el subrayado de enlace*/
    }

.logo-nav-container{

    display: flex;
    justify-content: space-between;/*Un elemento a la Izq y otro a la Derecha*/
    align-items: center; /*centramos los elementos del contenedor*/
    /*Los elementos estaran haran cambio de linea*/
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 30px;/*Ampliar el espacio entre las letras del logo*/
    font-size: 2.4em;/*Cambiar tamaño de la letra*/
    font-family: 'Dancing Script',cursive;
    padding: 2rem;   
}

.navigation{
    width: 100%;
    margin-top: 1rem;
}


.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 0rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #79a3b1;
            }

.main{
    padding-top: 12rem;
}

.footer{
    background: #d0e8f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

.redes-sociales{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:767px) {
    .navigation ul li{
        display: block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5 rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #79a3b1;
            }
}

.footer-container{
    display: inline-block;
    justify-content: space-between;
}
.redes-sociales .bubble i{
    color: #5f9ea0;
    padding: 2rem;
}
 
.redes-sociales .bubble:hover i{
    color: #1f2b40;
}

